/* Game */
.game {
  align-items: center;
  text-align: center;
  background-color: white;
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3%;
  padding: 10px;
  flex-direction: row;
  font-family: "Stylish", sans-serif;
  border: 2px solid #000000;
}
/* Game Info */
ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}
